.card {
  &-service {
    &:hover {
      background: $primary;

      h3,
      p {
        color: $white;
      }
    }
    .media-wrapper {
      height: 40px;
      width: 32px;
    }
    border: 1px solid #f1f1f1;
    h3 {
      @extend .heading-3;
      color: $black;
    }
    p {
      @extend .paragraph;
      color: $grey;
    }
  }

  &-countries {
    margin-bottom: 60px;
    position: relative;
    .media-wrapper {
      width: 100%;
      height: 324px;
      border-radius: 24px;
      background: $black;
      img {
        border-radius: 24px;
      }
    }
    .media-wrapper:hover{
      img{
        opacity: 0.8;
      }
    }
    .overlay {
      position: absolute;
      bottom: 0;
      h4 {
        text-shadow: 5px 5px 10px black;
        @include typography(1rem, 700, 100%);
        color: $white;
      }
    }
  }
  &-courses {
    margin-bottom: 60px;
    position: relative;
    .media-wrapper {
      width: 100%;
      height: 324px;
      border-radius: 24px;
      background: black;
      img {
        border-radius: 24px;
      }
    }
    .media-wrapper:hover{
      img{
        opacity: 0.7;
      }
    }
    .overlay {
      position: absolute;
      bottom: 0;
      h4 {
        @include typography(1rem, 700, 100%);
        color: $primary;
        padding: 15px 10px;
        background-color: $white;
        max-width: 120px;
      }
      p {
        @extend .paragraph;
        margin-right: 30px;
        padding: 0px 20px;
        color: $white;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 2em;
        line-height: 1em;
        text-shadow: 5px 5px 10px black;
      }
    }
  }

  &-blog {
    margin: 0px 20px 40px 20px;
    padding: 15px 30px;
    .date {
      margin-left: -60px;
      .btn {
        padding: 10px 40px !important;
      }
    }
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
    .media-wrapper {
      height: 208px;
      width: 100%;
      right: -50px;
    }
    @media (max-width: 767.98px) {
      .date {
        margin-left: 0px !important;
      }

      .media-wrapper {
        right: 0px !important;
      }
    }

    h5 {
      color: $primary;
      @extend .heading-6;
      line-height: 150% !important;
    }

    p {
      @extend .paragraph;
      color: $grey;
    }
  }

  &-blog:hover {
    .media-wrapper {
      animation: fadeIn 0.5s;
      @keyframes fadeIn {
        from {
          right: -50px;
        }
        to {
          right: 0px;
        }
      }
      right: 0px;
    }

    .date {
      animation: fadeIn 1s;
      @keyframes fadeIn {
        from {
          margin-left: -60px;
        }
        to {
          margin-left: 0px;
        }
      }
      margin-left: 0px;
    }
    cursor: pointer;
  }

  &-teams {
    box-shadow: 0px 4px 32px rgba(13, 54, 159, 0.12);
    border-radius: 16px;
    margin-bottom: 40px;
    .media-wrapper {
      width: 100%;
      height: 169px;
      img {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
      }
    }

    .content {
      padding: 10px 60px;
      .media-wrapper {
        width: 160px;
        height: 160px;
        margin-top: -90px;
        img {
          border-radius: 30%;
        }
      }

      h3 {
        @include typography(1.5rem, 400, 100%);
        color: $secondary-100;
      }

      h4 {
        @include typography(1.125rem, 400, 120%);
        color: $primary-100;
      }

      p {
        color: $grey-100;
        @include typography(1rem, 400, 120%);
      }
    }
  }

  &-more {
    margin-bottom: 10px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.13);
    border-radius: 8px;
    padding: 10px 20px 10px 10px;
    .media-wrapper {
      width: 100%;
      height: 100px !important;
    }
    p {
      position: relative;
      display: block;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
      max-height: 3.5em;
      line-height: 1.8em;
    }
  }

}
