.banner {
  &-content {
    padding: 100px 150px 100px 0;
    h1 {
      @include typography(2.25rem, 700, 120%);
      color: $grey-500;
      margin-bottom: 30px;
    }

    p {
      @extend .paragraph;
      color: $grey-400;
      margin-bottom: 30px;
    }
    .btn-explore {
      background-color: $secondary;
      @include typography(1rem, 700, 120%);
      color: $white;
      padding: 10px 40px;
    }
    .btn-explore:hover{
        color: $primary;
    }
    .btn-contact {
      @include typography(1rem, 700, 120%);
      color: $white;
      border: 1px solid $white;
      padding: 10px 30px;
    }
    .btn-contact:hover {
        border: 1px solid $secondary;
        color: $secondary;
    }
  }
  @media (max-width: 767.98px) {
    &-content{
        padding: 0;
    }

    .media-wrapper{
        height: 420px !important;
    }
  }

  background-color: $primary;
  padding: 30px 0;
  .media-wrapper {
    height: 664px;
    width: 100%;
  }
}
